@import url(https://fonts.googleapis.com/css?family=Arvo|Lato:400,400italic,700,700italic);
$font-title: Arvo, Rockwell, serif;
$font-text: Lato, Helvetica, Arial, sans-serif;
@include headings {
    font-family: $font-title;
}
* {
    font-family: $font-text;
}
header {
    h1 {
        font-size: 9vw;
        @include respond-to(landscape) {
            font-size: 9vh;
        }
        margin: 0;
    }
    h2 {
        margin: 0;
    }
}
h3 {
    text-transform: uppercase;
    font-size: $h3-size;
    margin: 1.25rem 0 0.5rem 0;
    @include respond-to(landscape) {
        font-size: $h3-size-w;
    }
}
h2 {
    font-size: 6vw;
    @include respond-to(landscape) {
        font-size: 4vh;
    }
    margin: 1rem 0;
}
article,
section {
    li,
    p {
        font-size: 1.2rem;
        margin: 0;
    }
}
