$color-black: rgb(22, 26, 31);
$color-green: rgb(0, 232, 135);
$color-red: rgb(175, 26, 0);
$color-white: rgb(227, 227, 227);

$color-main: $color-red;
$color-bg: $color-black;
$color-fg :$color-white;

$h3-size: 5vw;
$h3-size-w: 4vh;
